<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="ticket">
  <nav>
    <a href="/flights/new">ADD FLIGHT</a>
    <a href="/flights">VIEW FLIGHTS</a>
    <a href="/flights/<%= flight._id %>">FLIGHT DETAIL</a>
  </nav>
</body>
<h1>Select a Ticket</h1>


<form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
  <label><strong>SEAT:</strong></label>
 
    <select name="seatRow">
      <option value="">-select seat-</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
      <option value="E">E</option>
      <option value="F">F</option>
    </select>
    <select name="seatNum">
      <option value="">-select row/price-</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>

  <label><strong>PRICE:</strong></label>
  
      <select name="price">
        <option value="">-select row/price-</option>
        <option value="$1,000">$1,000</option>
        <option value="$900">$900</option>
        <option value="$800">$800</option>
        <option value="$700">$700</option>
        <option value="$600">$600</option>
        <option value="$500">$500</option>
      </select>
  
  <input class="submitbtn" type="submit" value="submit">
</form>


